<a href="https://colab.research.google.com/github/ccroft6/Venture_Funding_Deep_Learning/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [18]:
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS" ]

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [19]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [20]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [21]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, 
                          columns=enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [22]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [encoded_df, 
     applicant_data_df.drop(columns = categorical_variables)
    ], 
    axis=1
)


# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [26]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display the y data
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [27]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [28]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [29]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [33]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [38]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [32]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [34]:
# Create the Sequential model instance
nn = Sequential()

In [35]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [36]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [39]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [40]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [41]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [42]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5756 - accuracy: 0.7188
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5521 - accuracy: 0.7304
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5493 - accuracy: 0.7299
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5465 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5454 - accuracy: 0.7320
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7345
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7339
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7346
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7353
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7349
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7357
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7357
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7358
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7353
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7361
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7375
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7377
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7374
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5374 - accuracy: 0.7379
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7389
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7386
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7374
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7397
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7394
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7399
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7404
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7406
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7395
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7394
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7398
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7405
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7399
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5337 - accuracy: 0.7402
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7410
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7410
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5335 - accuracy: 0.7409
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5328 - accuracy: 0.7400
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7398
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5328 - accuracy: 0.7407
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5326 - accuracy: 0.7405
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5325 - accuracy: 0.7408
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5327 - accuracy: 0.7400
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5323 - accuracy: 0.7424
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5321 - accuracy: 0.7400
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5319 - accuracy: 0.7413
Epoch 50/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5316 - accuracy: 0.7413

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [43]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5550 - accuracy: 0.7268 - 605ms/epoch - 2ms/step
Loss: 0.5549986362457275, Accuracy: 0.7267638444900513

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [44]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least two new deep neural network models (resulting in the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [45]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [47]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [48]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [49]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer1_A2 = (hidden_nodes_layer1_A1 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

29

In [50]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer1_A3 = (hidden_nodes_layer1_A2 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A3

15

In [54]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [56]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A2, activation="relu"))

# Third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A3, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="relu"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 58)                6786

 dense_16 (Dense)            (None, 29)                1711

 dense_17 (Dense)            (None, 15)                450

 dense_18 (Dense)            (None, 1)                 16

=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [58]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [59]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8410 - accuracy: 0.7000
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7126 - accuracy: 0.7213
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7867 - accuracy: 0.7132
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7467 - accuracy: 0.7160
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1560 - accuracy: 0.7032
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0720 - accuracy: 0.7042
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6747 - accuracy: 0.7258
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6885 - accuracy: 0.7250
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6616 - accuracy: 0.7252
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6482 - accuracy: 0.7210
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6528 - accuracy: 0.7278
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6450 - accuracy: 0.7290
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6441 - accuracy: 0.7286
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6568 - accuracy: 0.7277
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6414 - accuracy: 0.7231
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6484 - accuracy: 0.7226
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6338 - accuracy: 0.7319
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6461 - accuracy: 0.7297
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6412 - accuracy: 0.7274
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6189 - accuracy: 0.7310
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6144 - accuracy: 0.7338
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6276 - accuracy: 0.7331
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6153 - accuracy: 0.7290
Epoch 24/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6209 - accuracy: 0.7203
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6125 - accuracy: 0.7324
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6027 - accuracy: 0.7301
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6063 - accuracy: 0.7318
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6038 - accuracy: 0.7327
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6037 - accuracy: 0.7350
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6108 - accuracy: 0.7325
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6151 - accuracy: 0.7329
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6087 - accuracy: 0.7321
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6016 - accuracy: 0.7339
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5974 - accuracy: 0.7268
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6173 - accuracy: 0.7319
Epoch 36/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5978 - accuracy: 0.7350
Epoch 37/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5916 - accuracy: 0.7358
Epoch 38/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5944 - accuracy: 0.7362
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5962 - accuracy: 0.7307
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5875 - accuracy: 0.7352
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6006 - accuracy: 0.7354
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6045 - accuracy: 0.7257
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5959 - accuracy: 0.7340
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6279 - accuracy: 0.7305
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6076 - accuracy: 0.7325
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6008 - accuracy: 0.7355
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6102 - accuracy: 0.7359
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6179 - accuracy: 0.7353
Epoch 49/50
804/804 [==============================] - 4s 4ms/step - loss: 0.6211 - accuracy: 0.7363
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6211 - accuracy: 0.7350

#### Alternative Model 2

In [62]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [66]:
# Define the number of neurons in the output layer
number_output_neurons_B2 = 1

In [67]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_B2 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_B2

58

In [68]:
# Create the Sequential model instance
nn_B2 = Sequential()

In [69]:
# First hidden layer
nn_B2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_B2.add(Dense(units=number_output_neurons, activation="sigmoid"))

# Check the structure of the model
nn_B2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 58)                6786

 dense_20 (Dense)            (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [71]:
# Compile the model
nn_B2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [72]:
# Fit the model
fit_model_B2 = nn_B2.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 4s 4ms/step - loss: 0.5831 - accuracy: 0.7139
Epoch 2/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5583 - accuracy: 0.7279
Epoch 3/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5550 - accuracy: 0.7296
Epoch 4/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5526 - accuracy: 0.7293
Epoch 5/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7303
Epoch 6/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7309
Epoch 7/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7326
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7304
Epoch 9/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7325
Epoch 10/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7318
Epoch 11/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7327
Epoch 12/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7320
Epoch 13/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7327
Epoch 14/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7331
Epoch 15/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7339
Epoch 16/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7344
Epoch 17/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7336
Epoch 18/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7337
Epoch 19/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7345
Epoch 20/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 21/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7330
Epoch 22/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7344
Epoch 23/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7346
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7351
Epoch 25/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7355
Epoch 26/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7355
Epoch 27/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7358
Epoch 28/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7349
Epoch 29/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7357
Epoch 30/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7357
Epoch 31/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7357
Epoch 32/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7357
Epoch 33/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7367
Epoch 34/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7347
Epoch 35/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7355
Epoch 36/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7366
Epoch 37/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7359
Epoch 38/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7359
Epoch 39/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7378
Epoch 40/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7352
Epoch 41/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7356
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7360
Epoch 43/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7374
Epoch 44/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7371
Epoch 45/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7360
Epoch 46/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7376
Epoch 47/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7382
Epoch 48/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7377
Epoch 49/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7360
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7368
Epoch 51/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7364
Epoch 52/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7388
Epoch 53/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7367
Epoch 54/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7383
Epoch 55/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7381
Epoch 56/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7373
Epoch 57/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7370
Epoch 58/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7379
Epoch 59/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7372
Epoch 60/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7383
Epoch 61/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7368
Epoch 62/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7367
Epoch 63/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7384
Epoch 64/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7377
Epoch 65/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7388
Epoch 66/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7379
Epoch 67/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7386
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7387
Epoch 69/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7379
Epoch 70/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7393
Epoch 71/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7383
Epoch 72/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7391
Epoch 73/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 74/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7383
Epoch 75/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7376
Epoch 76/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7374
Epoch 77/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7386
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7395
Epoch 79/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7386
Epoch 80/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7394
Epoch 81/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7395
Epoch 82/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7391
Epoch 83/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7401
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7390
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7384
Epoch 86/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7390
Epoch 87/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7392
Epoch 88/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7385
Epoch 89/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7394
Epoch 90/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7393
Epoch 91/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7388
Epoch 92/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 93/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7388
Epoch 94/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7405
Epoch 95/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 97/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 98/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 99/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7387
Epoch 101/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7391
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7400
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7406
Epoch 105/150
804/804 [==============================] - 4s 4ms/step - loss: 0.5341 - accuracy: 0.7409
Epoch 106/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7397
Epoch 107/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7378
Epoch 108/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7392
Epoch 109/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7403
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7399
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7398
Epoch 112/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7388
Epoch 113/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7406
Epoch 114/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7392
Epoch 115/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7405
Epoch 116/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7388
Epoch 117/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7398
Epoch 118/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7399
Epoch 119/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7396
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7397
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7413
Epoch 122/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7391
Epoch 123/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7393
Epoch 125/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7405
Epoch 126/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7403
Epoch 127/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7398
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7397
Epoch 129/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7412
Epoch 130/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 132/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7405
Epoch 133/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7392
Epoch 134/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7396
Epoch 135/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7404
Epoch 136/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7405
Epoch 137/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7397
Epoch 138/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7403
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7414
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7394
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7401
Epoch 142/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7397
Epoch 143/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7402
Epoch 144/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7409
Epoch 145/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7404
Epoch 146/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7402
Epoch 147/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7404
Epoch 148/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7395
Epoch 149/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7400
Epoch 150/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7391

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [61]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5550 - accuracy: 0.7268 - 318ms/epoch - 1ms/step
Loss: 0.5549986362457275, Accuracy: 0.7267638444900513

In [60]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.6316 - accuracy: 0.7277 - 439ms/epoch - 2ms/step
Loss: 0.6315584778785706, Accuracy: 0.7276967763900757

In [73]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_B2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6002 - accuracy: 0.7308 - 487ms/epoch - 2ms/step
Loss: 0.6002041101455688, Accuracy: 0.7308454513549805

### Step 3: Save each of your alternative models as an HDF5 file.

In [74]:
# Set the file path for the first alternative model
file_path = "AlphabetSoupA1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [75]:
# Set the file path for the second alternative model
file_path = "AlphabetSoupA2.h5"

# Export your model to a HDF5 file
nn_B2.save(file_path)